## Pandas Series

In [2]:
## Importing Pandas
import pandas as pd
import numpy as np

In [3]:
l1 = np.random.randint(10,90, 10)
print(type(l1))
print(l1)
## Creating a pandas series from a list
s1 = pd.Series(list(l1))

## Printing the series
print("Pandas series from List\n",s1)
print("Pandas Series Index : ", s1.index)

s2 = pd.Series([10, 15, 12, 16, 21])
print(s2)

s3 = pd.Series(range(10, 100, 5))
print(s3)

<class 'numpy.ndarray'>
[29 14 81 85 87 52 89 68 64 87]
Pandas series from List
 0    29
1    14
2    81
3    85
4    87
5    52
6    89
7    68
8    64
9    87
dtype: int32
Pandas Series Index :  RangeIndex(start=0, stop=10, step=1)
0    10
1    15
2    12
3    16
4    21
dtype: int64
0     10
1     15
2     20
3     25
4     30
5     35
6     40
7     45
8     50
9     55
10    60
11    65
12    70
13    75
14    80
15    85
16    90
17    95
dtype: int64

In [6]:
## Creating a pandas series from an array
s1 = pd.Series(np.array([23, 54, 87, 91, 34, 65]))

## Printing the series
print("Pandas series from an Array\n",s1)

Pandas series from an Array
 0    23
1    54
2    87
3    91
4    34
5    65
dtype: int32

In [9]:
## Creating a pandas series with numeric index
salaries_index = pd.Series(np.array([15000, 250000, 45000, 24000, 34000]), index=np.arange(0,10,2))

## Printing the series
salaries_index

0     15000
2    250000
4     45000
6     24000
8     34000
dtype: int32

In [10]:
## Creating a pandas series with string index
salaries_index = pd.Series(np.array([15000, 250000, 45000, 24000, 34000]), 
                           index=['a1','a2','a3','a4','a5']
                          )

## Printing the series
salaries_index

a1     15000
a2    250000
a3     45000
a4     24000
a5     34000
dtype: int32

In [11]:
## Creating Pandas Series from a dictionary
proddict = {"Fruits":50000, 'Vegetables':23400,'Pulses':23900}

## Creating series from dictionary
prodseries = pd.Series(proddict)

print(prodseries)
print(prodseries.index)

Fruits        50000
Vegetables    23400
Pulses        23900
dtype: int64
Index(['Fruits', 'Vegetables', 'Pulses'], dtype='object')

The keys of a dictionary become an index for the series

In [5]:
proddict.keys()

dict_keys(['Fruits', 'Vegetables', 'Pulses'])

In [5]:
t1 = tuple(np.random.randint(100,1000, 10))
print(t1)
p1 = pd.Series(t1)
print(p1)

(977, 325, 600, 625, 371, 142, 440, 791, 593, 439)
0    977
1    325
2    600
3    625
4    371
5    142
6    440
7    791
8    593
9    439
dtype: int64

In [6]:
## Creating class dictionary
classdict = {'X':['Maths','English','Computers'],
             'Y':['Computers','Science'],
             'Z':"Science"}

## Creating series from dictionary
class_series = pd.Series(classdict)

class_series

X    [Maths, English, Computers]
Y           [Computers, Science]
Z                        Science
dtype: object

In [7]:
## Printing the index names
print("The Index names")
print(class_series.index)

##  Printing the Series values
print("\nThe Series Values")
class_series.values

The Index names
Index(['X', 'Y', 'Z'], dtype='object')

The Series Values

array([list(['Maths', 'English', 'Computers']),
       list(['Computers', 'Science']), 'Science'], dtype=object)

In [ ]:
classdict

#### Accessing Series Elements

In [6]:
## Creating a pandas series with string index
salaries_index = pd.Series(np.array([15000, 250000, 45000, 24000, 34000, 75000]), 
                           index=['a1','a2','a3','a4','a5','a6']
                          )

In [5]:
## To retrieve first 5 elements
print(salaries_index[:5])

a1     15000
a2    250000
a3     45000
a4     24000
a5     34000
dtype: int32

In [7]:
## To retrieve last 3 elements
print(salaries_index[-3:])

a4    24000
a5    34000
a6    75000
dtype: int32

In [8]:
salaries_index['a1':'a3']

a1     15000
a2    250000
a3     45000
dtype: int32

In [9]:
salaries_index['a1']

15000

In [10]:
salaries_index[:'a3']

a1     15000
a2    250000
a3     45000
dtype: int32

## Accessing Series elements using Index Keys.

In [12]:
## Creating class dictionary
classdict = {'X':['Maths','English','Computers'],
             'Y':['Computers','Science'],
             'Z':"Science"}


## Creating series from dictionary
class_series = pd.Series(classdict)
print(class_series)
## Printing class_series

## Accessing elements using index
print("Printing only X index values : ",class_series['X'],'\n\n')

## Accessing multiple elements
print(class_series[['X','Y']])

X    [Maths, English, Computers]
Y           [Computers, Science]
Z                        Science
dtype: object
Printing only X index values :  ['Maths', 'English', 'Computers']


X    [Maths, English, Computers]
Y           [Computers, Science]
dtype: object

In [40]:
## Accessing individual elements from a list
print(class_series['X'])
print(type(class_series['X']))

['Maths', 'English', 'Computers']
<class 'list'>

In [13]:
class_series['X'].append('Social Science')

In [14]:
class_series

X    [Maths, English, Computers, Social Science]
Y                           [Computers, Science]
Z                                        Science
dtype: object

In [16]:
class_series['X'][1:3]

['English', 'Computers']

In [17]:
class_series['X'][-1]

'Social Science'

In [18]:
## Creating Student_marks Series
stu_marks = pd.Series([450,292, 326, 435, 289, 478],
                    index = ['Anand','Akshay','Chetan','Vikram','Vivek','Jyothi'])
print(type(stu_marks))
stu_marks

<class 'pandas.core.series.Series'>

Anand     450
Akshay    292
Chetan    326
Vikram    435
Vivek     289
Jyothi    478
dtype: int64

In [71]:
stu_marks.sort_values()

Vivek     289
Akshay    292
Chetan    326
Vikram    435
Anand     450
Jyothi    478
dtype: int64

In [73]:
stu_marks.sort_index(ascending = False)

Vivek     289
Vikram    435
Jyothi    478
Chetan    326
Anand     450
Akshay    292
dtype: int64

## Selecting the elements using filters

In [21]:
## Filtering the series
stu_marks[(stu_marks > 300) | (stu_marks.index == 'Akshay')]

Anand     450
Akshay    292
Chetan    326
Vikram    435
Jyothi    478
dtype: int64

In [20]:
stu_marks['Anand']

450

In [23]:
int(stu_marks.mean())

378

In [24]:
stu_marks > int(stu_marks.mean())

Anand      True
Akshay    False
Chetan    False
Vikram     True
Vivek     False
Jyothi     True
dtype: bool

In [27]:
stu_marks[stu_marks == stu_marks.max()]

Jyothi    478
dtype: int64

In [25]:
## Filtering using some other conditions
stu_marks[stu_marks > int(stu_marks.mean())]

Anand     450
Vikram    435
Jyothi    478
dtype: int64

In [31]:
## Selecting the Top Student
print("The Top Student is : ", stu_marks[stu_marks == stu_marks.max()])

## Selecting the Bottom Student
print("The Bottom Student is: ", stu_marks[stu_marks == stu_marks.min()])

The Top Student is :  Jyothi    478
dtype: int64
The Bottom Student is:  Vivek    289
dtype: int64

In [16]:
stu_marks[(stu_marks > 300) & (stu_marks < 400)]

Chetan    326
dtype: int64

In [32]:
max(stu_marks)

478

#### Arithmetic Operations on Series

In [28]:
## Creating series
sales = pd.Series([2504, 2690, 3245])

## Multiplying the series by 3
print(sales * 3)

0    7512
1    8070
2    9735
dtype: int64

In [29]:
## ELementwise Multiplication
mrp_series = pd.Series([12,34,28])
sales_series = pd.Series([242, 326, 287])

## Computing Total Sales Series
total_sales = mrp_series.multiply(sales_series)

total_sales

0     2904
1    11084
2     8036
dtype: int64

In [50]:
## ELementwise Multiplication
mrp_series = pd.Series([12,34,28])
sales_series = pd.Series([242, 326, 287])

## Computing Total Sales Series
total_sales = mrp_series * sales_series

total_sales

0     2904
1    11084
2     8036
dtype: int64

In [32]:
## Addition of two series
maths_marks = pd.Series([89,92,96])
english_marks = pd.Series([92,76,87])

## Adding two series
total_marks = maths_marks + english_marks

total_marks

0    181
1    168
2    183
dtype: int64

In [39]:
## Suppose there is difference in number of elements in two series
## Addition of two series
maths_marks = pd.Series([89,92,96])
english_marks = pd.Series([92,76,87,65])

## Adding two series
total_marks = maths_marks + english_marks

total_marks

0    181.0
1    168.0
2    183.0
3      NaN
dtype: float64

In [35]:
total_sales = pd.Series(np.random.randint(1000,10000,5))
qty = pd.Series(np.random.randint(10,20, 5))

sale_price = round(total_sales/qty,2)
print(sale_price)

0    759.70
1    161.60
2    400.42
3    697.62
4    494.58
dtype: float64

#### Series Ranking and Sorting

In [46]:
marks_list = np.random.randint(275, 500, 10)
print(marks_list)

[382 373 494 393 340 321 449 474 447 356]

In [49]:
marks_list = np.random.randint(275, 500, 10)
print(marks_list)

marks_series = pd.Series(marks_list)
print(marks_series)

print(marks_series.sort_values(ascending = False))
rank_series = marks_series.rank(ascending = False)

[321 479 368 316 299 285 331 327 420 400]
0    321
1    479
2    368
3    316
4    299
5    285
6    331
7    327
8    420
9    400
dtype: int32
1    479
8    420
9    400
2    368
6    331
7    327
0    321
3    316
4    299
5    285
dtype: int32

In [56]:
print(rank_series[rank_series <= 5].index)

Int64Index([1, 2, 6, 8, 9], dtype='int64')

In [58]:
marks_series[rank_series[rank_series <= 5].index].sort_values(ascending=False)

1    479
8    420
9    400
2    368
6    331
dtype: int32

In [60]:
marks_series.unique()

array([321, 479, 368, 316, 299, 285, 331, 327, 420, 400])

In [61]:
marks_series.describe()

count     10.000000
mean     354.600000
std       61.342753
min      285.000000
25%      317.250000
50%      329.000000
75%      392.000000
max      479.000000
dtype: float64

In [64]:
## Creating a marks Series with duplicate values
marks = pd.Series([234,324,324, 982, 125, 465, 764, 257,872,325,198])
marks.rank()

0      3.0
1      5.5
2      5.5
3     11.0
4      1.0
5      8.0
6      9.0
7      4.0
8     10.0
9      7.0
10     2.0
dtype: float64

In [67]:
marks.rank(method='min')

0      3.0
1      5.0
2      5.0
3     11.0
4      1.0
5      8.0
6      9.0
7      4.0
8     10.0
9      7.0
10     2.0
dtype: float64

The rank() will give rank based on the Ascending order of elements.

In [22]:
marks.rank(ascending=False)

0      9.0
1      6.5
2      6.5
3      1.0
4     11.0
5      4.0
6      3.0
7      8.0
8      2.0
9      5.0
10    10.0
dtype: float64

In [23]:
marks.rank(pct=True)

0     0.272727
1     0.500000
2     0.500000
3     1.000000
4     0.090909
5     0.727273
6     0.818182
7     0.363636
8     0.909091
9     0.636364
10    0.181818
dtype: float64

In [69]:
## Creating a marks Series with duplicate values
marks = pd.Series([234,324,324, np.nan, 982, 125, 465, 764, np.nan, 257,872,325,198])
print("Ranking without na option\n\n", marks.rank(method='dense'))
marks.rank(method = 'dense', na_option='bottom')

Ranking without na option

 0      3.0
1      5.0
2      5.0
3      NaN
4     10.0
5      1.0
6      7.0
7      8.0
8      NaN
9      4.0
10     9.0
11     6.0
12     2.0
dtype: float64

0      3.0
1      5.0
2      5.0
3     11.0
4     10.0
5      1.0
6      7.0
7      8.0
8     11.0
9      4.0
10     9.0
11     6.0
12     2.0
dtype: float64

In [70]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648])
                   
sales.sort_values(ascending=False)

3    23948.0
5    23427.0
8     3648.0
4     3489.0
0     2349.0
1     2348.0
7     1982.0
2        NaN
6        NaN
dtype: float64

In [47]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648])
                   
sales.sort_values(ascending=False, na_position='first')

2        NaN
6        NaN
3    23948.0
5    23427.0
8     3648.0
4     3489.0
0     2349.0
1     2348.0
7     1982.0
dtype: float64

In [9]:
## Sorting the series using sort_values()
sales = pd.Series([3249,2348,np.nan,23948,3489], index=[107,101,104,100,102])
print(sales)
                   
sales.sort_index(ascending=True)

107     3249.0
101     2348.0
104        NaN
100    23948.0
102     3489.0
dtype: float64

100    23948.0
101     2348.0
102     3489.0
104        NaN
107     3249.0
dtype: float64

In [76]:
print(class_series)

X    [Maths, English, Computers]
Y           [Computers, Science]
Z                        Science
dtype: object

In [78]:
class_series.sort_values()

TypeError: '<' not supported between instances of 'str' and 'list'

In [77]:
class_series.sort_index(ascending=False)

Z                        Science
Y           [Computers, Science]
X    [Maths, English, Computers]
dtype: object

#### Checking null values
isnull() and notnull() are used to check null values in Series.

In [96]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648])
                  
print(sales.isnull())         

print("\nNumber of missing values = ", sales.isnull().sum())

sales1 = sales[sales.isnull() == False]
sales1

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
dtype: bool

Number of missing values =  2

0     2349.0
1     2348.0
3    23948.0
4     3489.0
5    23427.0
7     1982.0
8     3648.0
dtype: float64

In [29]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648],dtype=float) 
print(sales)
print(sales.mean())
    
sales[sales.isnull() == True] = round(np.mean(sales))
sales

0     2349.0
1     2348.0
2        NaN
3    23948.0
4     3489.0
5    23427.0
6        NaN
7     1982.0
8     3648.0
dtype: float64
8741.57142857143

0     2349.0
1     2348.0
2     8742.0
3    23948.0
4     3489.0
5    23427.0
6     8742.0
7     1982.0
8     3648.0
dtype: float64

In [17]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648])
                  
print(sales.notnull())         

sales1 = sales[sales.notnull()]
sales1

0     True
1     True
2    False
3     True
4     True
5     True
6    False
7     True
8     True
dtype: bool

0     2349.0
1     2348.0
3    23948.0
4     3489.0
5    23427.0
7     1982.0
8     3648.0
dtype: float64

#### Concatenating Series

We can use concat() and append() to concatenate two or more Series.

In [75]:
## Creating two series using np.linspace
class1 = pd.Series(np.linspace(0,20,11))
class2 = pd.Series(np.linspace(1,21,11))
class3 = pd.Series(np.linspace(22,32,11))

print(class1)
print(class2)
print(class3)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
dtype: float64
0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
dtype: float64
0     22.0
1     23.0
2     24.0
3     25.0
4     26.0
5     27.0
6     28.0
7     29.0
8     30.0
9     31.0
10    32.0
dtype: float64

In [77]:
## Concatenting two series using concat()
newseries = pd.concat([class1, class2, class3])
#newseries = pd.concat([class1, class2, class3], ignore_index=True)
print(newseries)
print(newseries[0])

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
0     22.0
1     23.0
2     24.0
3     25.0
4     26.0
5     27.0
6     28.0
7     29.0
8     30.0
9     31.0
10    32.0
dtype: float64
0     0.0
0     1.0
0    22.0
dtype: float64

In [78]:
## Concatenating all the series and resetting index
newseries = pd.concat([class1, class2, class3], ignore_index=True)
newseries

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11     1.0
12     3.0
13     5.0
14     7.0
15     9.0
16    11.0
17    13.0
18    15.0
19    17.0
20    19.0
21    21.0
22    22.0
23    23.0
24    24.0
25    25.0
26    26.0
27    27.0
28    28.0
29    29.0
30    30.0
31    31.0
32    32.0
dtype: float64

In [79]:
s1_sales = pd.Series(np.random.randint(1500,10000,15))
s2_sales = pd.Series(np.random.randint(1500,20000,15))

print('Series 1:', s1_sales)
print('Series 2:',s2_sales)

Series 1: 0     7359
1     5680
2     3867
3     6795
4     8925
5     7559
6     8047
7     3154
8     5578
9     9393
10    4520
11    5541
12    1593
13    8654
14    6006
dtype: int32
Series 2: 0     12873
1     11356
2      7387
3     10330
4      5877
5     18929
6      8892
7     17121
8      7482
9     19388
10     2342
11    13933
12    16139
13    10526
14     1544
dtype: int32

In [81]:
## Concatenting two series using concat() with Hierarchical Index and Label the Index
sales_series = pd.concat([s1_sales, s2_sales], keys=['Store1','Store2'], names=['Store','Index'])
sales_series

Store   Index
Store1  0         7359
        1         5680
        2         3867
        3         6795
        4         8925
        5         7559
        6         8047
        7         3154
        8         5578
        9         9393
        10        4520
        11        5541
        12        1593
        13        8654
        14        6006
Store2  0        12873
        1        11356
        2         7387
        3        10330
        4         5877
        5        18929
        6         8892
        7        17121
        8         7482
        9        19388
        10        2342
        11       13933
        12       16139
        13       10526
        14        1544
dtype: int32

In [82]:
sales_series.index

MultiIndex([('Store1',  0),
            ('Store1',  1),
            ('Store1',  2),
            ('Store1',  3),
            ('Store1',  4),
            ('Store1',  5),
            ('Store1',  6),
            ('Store1',  7),
            ('Store1',  8),
            ('Store1',  9),
            ('Store1', 10),
            ('Store1', 11),
            ('Store1', 12),
            ('Store1', 13),
            ('Store1', 14),
            ('Store2',  0),
            ('Store2',  1),
            ('Store2',  2),
            ('Store2',  3),
            ('Store2',  4),
            ('Store2',  5),
            ('Store2',  6),
            ('Store2',  7),
            ('Store2',  8),
            ('Store2',  9),
            ('Store2', 10),
            ('Store2', 11),
            ('Store2', 12),
            ('Store2', 13),
            ('Store2', 14)],
           names=['Store', 'Index'])

In [87]:
print(sales_series['Store1'])  ## Retrieve the values using outer key

print("Average Sales of Store 1: ", round(sales_series['Store1'].mean(),2))  ## Average Store1 Sales
print("Average Sales of Store 2: ", round(sales_series['Store2'].mean(),2))  ## Average Store2 Sales
      
print("Overall Average Sales: {0:.2f}".format(sales_series.mean()))      ## Overall Average Sales

Index
0     7359
1     5680
2     3867
3     6795
4     8925
5     7559
6     8047
7     3154
8     5578
9     9393
10    4520
11    5541
12    1593
13    8654
14    6006
dtype: int32
Average Sales of Store 1:  6178.07
Average Sales of Store 2:  10941.27
Overall Average Sales: 8559.67

In [114]:
newseries['Store1'][:10]  ## Accessing the data using both levels of index

Index
0    8984
1    2641
2    8810
3    5136
4    7362
5    8260
6    9297
7    5418
8    2824
9    1938
dtype: int32

In [88]:
comsales = pd.concat([s1_sales, s2_sales],keys=['S1','S2'],names=['Store','Index'])
comsales

Store  Index
S1     0         7359
       1         5680
       2         3867
       3         6795
       4         8925
       5         7559
       6         8047
       7         3154
       8         5578
       9         9393
       10        4520
       11        5541
       12        1593
       13        8654
       14        6006
S2     0        12873
       1        11356
       2         7387
       3        10330
       4         5877
       5        18929
       6         8892
       7        17121
       8         7482
       9        19388
       10        2342
       11       13933
       12       16139
       13       10526
       14        1544
dtype: int32

In [121]:
comsales.name = 'Store_Sales'
print(comsales.name)

Store_Sales

In [111]:
## Concatenting the series using append()
s1_sales.append(s2_sales)

0      8984
1      2641
2      8810
3      5136
4      7362
5      8260
6      9297
7      5418
8      2824
9      1938
10     3498
11     7804
12     7685
13     7222
14     3898
0     12688
1      5586
2      2763
3     18481
4      9669
5     11514
6     10139
7     19834
8     15498
9      1829
10     8821
11    13602
12    19930
13    12830
14     5907
dtype: int32

In [112]:
## Ignoring the original index of the series
s1_sales.append(s2_sales, ignore_index = True)

0      8984
1      2641
2      8810
3      5136
4      7362
5      8260
6      9297
7      5418
8      2824
9      1938
10     3498
11     7804
12     7685
13     7222
14     3898
15    12688
16     5586
17     2763
18    18481
19     9669
20    11514
21    10139
22    19834
23    15498
24     1829
25     8821
26    13602
27    19930
28    12830
29     5907
dtype: int32

In [34]:
st1sales=pd.Series(np.random.randint(10000,50000,30))
st2sales=pd.Series(np.random.randint(10000,50000,30))

0     41368
1     14854
2     47035
3     32613
4     11827
5     21752
6     29590
7     41297
8     40104
9     11680
10    22495
11    20012
12    38649
13    20199
14    13382
15    38379
16    34928
17    11775
18    30959
19    13169
20    27978
21    18530
22    12454
23    21274
24    28562
25    25395
26    30686
27    22066
28    20474
29    35425
dtype: int32

In [40]:
combinedsales = pd.concat([st1sales,st2sales], keys=['Store1','Store2'])

In [43]:
combinedsales['Store1'].mean()

31645.433333333334

In [45]:
combinedsales['Store2'].mean()

25963.7

In [46]:
combinedsales.mean()

28804.566666666666

In [48]:
s1 = pd.Series(np.random.randint(1000,2000,20))
s2 = pd.Series(np.random.randint(1000,2000,20))
print(s1)
print(s2)

0     1015
1     1167
2     1962
3     1899
4     1092
5     1510
6     1813
7     1657
8     1894
9     1345
10    1776
11    1213
12    1872
13    1347
14    1428
15    1313
16    1774
17    1588
18    1191
19    1324
dtype: int32
0     1192
1     1160
2     1229
3     1658
4     1729
5     1513
6     1693
7     1060
8     1196
9     1822
10    1993
11    1297
12    1911
13    1220
14    1137
15    1602
16    1161
17    1771
18    1462
19    1302
dtype: int32

In [50]:
s1.append(s2, ignore_index=True)

0     1015
1     1167
2     1962
3     1899
4     1092
5     1510
6     1813
7     1657
8     1894
9     1345
10    1776
11    1213
12    1872
13    1347
14    1428
15    1313
16    1774
17    1588
18    1191
19    1324
20    1192
21    1160
22    1229
23    1658
24    1729
25    1513
26    1693
27    1060
28    1196
29    1822
30    1993
31    1297
32    1911
33    1220
34    1137
35    1602
36    1161
37    1771
38    1462
39    1302
dtype: int32

In [54]:
s1s2 = pd.concat([s1,s2], keys=['S1','S2'])

In [57]:
s1s2['S1'][0]  ## Selecting single element from a combined series

1015